tdd_rest/__pycache__/*
app/migrations/*
app/__pycache__/*
db.sqlite3
app/tests/__pycache__/*
app/management/__pycache__/*
app/management/commands/__pycache__/*
user/__pycache__/*
user/tests/__pycache__/*
recipe/__pycache__/*
